@use "styles/_variables" as *;
@use "styles/_functions" as *;

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 0.8;

    nav {
        max-width: font-size-clamp(10.4rem, 15rem, $sm, $xl);
        input:first-child {
            margin-bottom: 2rem;
        }
        button:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }
}
