@use "styles/_variables" as *;
@use "styles/_functions" as *;
@use "styles/_mixins" as *;

.button {
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background-color: $brand--2;
    color: $light--2;

    font-size: font-size-clamp(0.875rem, 1.125rem);
}

.icon {
    background-color: transparent;
    color: var(--brand--1);
    line-height: 0;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    border-radius: 100%;
    padding: 0.1px;
}

.nav-button {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light--2);
    background-color: transparent;
    padding: 0.75rem;
}
.nav-button:hover {
    background-color: #1f1f1f;
}

.nav-button svg {
    font-size: 1.5rem;
}
