button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    background-color: var(--brand--2);
    color: var(--light--2);
}

.icon {
    background-color: transparent;
    color: var(--brand--1);
    line-height: 0;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    border-radius: 100%;
    padding: 0.1px;
}

.nav-button {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light--2);
    background-color: transparent;
    padding: 0.75rem;
}
.nav-button:hover {
    background-color: #1f1f1f;
}

.nav-button svg {
    font-size: 1.5rem;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    filter: brightness(0.9);
}

@media (min-width: 768px) {
    .button {
        padding: 0.6rem 1.2rem;
        border-radius: 0.75rem;
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .button {
        padding: 0.75rem 1.5rem;
        border-radius: 1rem;
        font-size: 1.25rem;
    }
}
