.menuWrapper {
    min-height: 100vh;
    min-width: 300px;
    transition: all 0.5s ease;
}

.hide {
    min-width: 50px;
    max-width: 50px;
}

.menuWrapper main {
    box-sizing: border-box;
    min-width: 300px;
    min-height: 100vh;
    margin: 0;
    padding: 2rem 0;
    position: fixed;
    background-color: var(--dark--2);
    display: flex;
    transition: all 0.5s ease;
}

.hide main {
    margin-left: -250px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex: 0.8;
    gap: 2rem;
}

.menu nav input:first-child {
    margin-bottom: 2rem;
}

.menu nav button:not(:last-child) {
    margin-bottom: 0.75rem;
}

.shortMenu {
    padding: 0.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.2;
}
