$light--1: #eaeaea;
$light--1a: #eaeaeab7;
$light--2: #d2d2d2;
$dark--1: rgb(16, 16, 16);
$dark--2: rgb(8, 8, 8);
$brand--1: #f33f3f;
$brand--1a: #f33f3f9c;
$brand--2: #960000;
$brand--3: #2d0000;

$xs: 20rem; // 320
$sm: 36rem; // 576
$md: 48rem; // 768
$lg: 62rem; // 992
$xl: 75rem; // 1200
$xxl: 90rem; // 1440
