.main::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("../../assets/home-bg.svg") no-repeat center center;
    background-size: cover;
}
.main {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: conic-gradient(
        from 13deg at 29% 107%,
        transparent -17deg,
        rgba(80, 0, 0, 0.5) 175deg,
        transparent 342deg,
        rgba(80, 0, 0, 0.4) 535deg
    );
}

.main :global(p) {
    margin: 0;
    margin-top: -0.5rem;
    text-align: center;
    font-size: 9px;
    font-weight: 100;
    color: var(--light--1a);
    user-select: none;
}

.main > button {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .main :global(p) {
        font-size: 14px;
        margin-top: -1rem;
    }
}

@media (min-width: 1200px) {
    .main :global(p) {
        font-size: 18px;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
}
